@mixin btn {
    display: inline-block;
    padding: 16px 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    border-radius: 2px;
    background-size: 200% auto;
    border-radius: 5px;
    display: inline-block;
    background-image: linear-gradient(to right, #0086ff, #02d47d, #0086ff);
    text-decoration: none;
    font-weight: 500;

    &:hover {
        color: #fff;
        background-position: right;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(279deg, rgba(0, 185, 255, 1) 0%, rgba(0, 247, 99, 1) 100%);
    border-radius: 20px;
}

.my-navbar {
    position: fixed;
    height: 75px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    transition: all .3s;
    z-index: 99999;

    .my-container {
        .my-brand {
            width: 38%;

            img {
                width: 75%;
            }
        }

        .my-dropdown {
            padding: 0 50px;
            padding-bottom: 25px;
        }

        .my-btn {
            @include btn;

            i {
                transition: all .3s;
                opacity: 0;
            }

            &:hover {
                i {
                    padding-left: 10px;
                    opacity: 1;
                }
            }
        }
    }
}

.home {
    height: 100%;
    padding-bottom: 100px;

    .my-home {
        align-items: center;
        margin-top: 170px;

        .text {
            span {
                font-size: 18px;
                font-weight: 500;
                color: #0086ff;
            }

            h1 {
                font-size: 50px;
                padding: 15px 0;
                color: #444c63;
                font-weight: 700;
            }

            p {
                font-size: 18px;
                padding: 12px 0;
                color: #969696
            }

            .my-btn {
                @include btn;
                margin-top: 20px;

                i {
                    transition: all .3s;
                    opacity: 0;
                }

                &:hover {
                    i {
                        padding-left: 10px;
                        opacity: 1;
                    }
                }
            }
        }

        .image {
            img {
                width: 100%;
            }
        }
    }
}

.scrolled {
    box-shadow: 2px -3px 16px 6px #a6a6a65e;
}

.about {
    height: 100%;

    .my-about {
        align-items: center;

        .image {
            img {
                width: 100%;
            }
        }

        .text {
            .details {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 50px 0;

                .first {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                    padding: 10px 15px;

                    img {
                        width: 50%;
                    }

                    h4 {
                        font-size: 18px;
                        padding: 10px 0;
                    }
                }

                .border-right {
                    border-right: 2px solid #96969652;
                }

                .border-left {
                    border-left: 2px solid #96969652;
                }
            }

            h1 {
                font-size: 50px;
                padding: 15px 0;
                color: #444c63;
                font-weight: 700;
            }

            p {
                font-size: 18px;
                padding: 12px 0;
                color: #969696
            }

            .my-btn {
                @include btn;
                margin-top: 20px;

                i {

                    transition: all .3s;
                    visibility: hidden;
                }

                &:hover {
                    i {
                        padding-left: 10px;
                        visibility: visible;
                    }
                }
            }
        }
    }
}

.services {
    padding: 50px 0;

    .my-services {
        height: 100%;

        h1 {
            font-size: 50px;
            padding: 25px 0;
            color: #444c63;
            font-weight: 700;
            text-align: center;
        }

        flex-wrap: wrap;
        justify-content: space-between;

        .my-card {
            width: 30%;
            margin: 15px 10px;
            padding: 25px;
            border-radius: 30px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            transition: all .3s;

            h4 {
                padding: 15px 0;
                color: #444c63;
            }

            p {
                font-size: 14px;
                padding: 5px 0;
                color: #969696
            }

            a {
                @include btn;
                font-size: 12px;
                padding: 10px 15px;
                border-radius: 30px;

                i {

                    transition: all .3s;
                    opacity: 0;
                }

                &:hover {
                    i {
                        padding-left: 10px;
                        opacity: 1;
                    }
                }
            }

            &:hover {
                box-shadow: rgba(17, 12, 46, 0.15) 0px 0px 20px 3px;

            }
        }
    }
}

.scroll {
    padding: 50px 0;

    h1 {
        text-align: center;
    }

    .item {
        display: flex;
        overflow-x: auto;

        &::-webkit-scrollbar {
            // width: 0;
            height: 8px;
        }

        .my-card {
            margin: 30px 15px;
            min-width: 350px;
            background-color: #fff;
            box-shadow: 0px 0px 5px #00000073;
            transition: all .3s;
            border-radius: 10px;
            text-align: center;
            overflow: hidden;
            padding-bottom: 20px;

            h4 {
                padding: 10px;
                font-size: 22px;
            }

            h6 {
                font-size: 12px;
            }

            p {
                font-size: 14px;
                font-weight: 300;
                padding: 15px;
            }

            a {
                text-transform: capitalize;
                color: #444c63;
                font-weight: 500;
                text-decoration: none;
                transition: all .3s;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    background: #fff;
                    width: 0;
                    height: 2px;
                    bottom: -2px;
                    right: 0;
                    transition: all .3s;
                }

                i {
                    color: #fff;
                    transition: all .3s;
                    opacity: 0;
                }

                &:hover {
                    i {
                        padding-left: 10px;
                        opacity: 1;
                    }

                    &::after {
                        width: 100%;
                        left: 0;
                    }
                }
            }

            img {
                width: 100%;
                transition: all .3s;
            }

            &:hover {
                transition: all .3s;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                background-color: #0086ff;
                color: #fff;

                img {
                    transform: scale(1.03);
                }

                a {
                    color: #fff;
                }
            }
        }
    }
}

.contact {
    .contact-sec {
        margin: 50px auto;
        background: url(../img/bg.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 50px;
        align-items: center;
        position: relative;
        border-radius: 10px;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 0;
            height: 100%;
            border-radius: 10px;
            background: linear-gradient(279deg, rgba(0, 185, 255, 0.5019257703081232) 0%, rgba(0, 247, 99, 0.468312324929972) 100%)
        }

        h1 {
            z-index: 1;
        }

        a {
            z-index: 1;
            @include btn;

            i {
                transition: all .3s;
                padding-left: 10px;
                opacity: 1;
            }
        }
    }
}

.appointment {
    background: url(../img/bg1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 0;
        height: 100%;
        background: linear-gradient(279deg, rgba(0, 185, 255, 0.5019257703081232) 0%, rgba(0, 247, 99, 0.468312324929972) 100%)
    }

    .appoint-sec {
        flex-direction: row-reverse;
        align-items: center;
        padding: 50px 0;

        .my-form {
            z-index: 1;
            margin: 25px 0;

            .my-btn {
                @include btn;
                border: none;
                outline: none;
            }
        }

        .google-map {
            z-index: 1;

            iframe {
                width: 100%;
            }

        }
    }
}

@media screen and (max-width:1205px) {
    .my-navbar {
        .my-container {
            .my-btn {
                padding: 14px;
            }
        }
    }
}

@media screen and (max-width:992px) {
    .my-navbar {
        .my-container {
            .dropdown {
                width: 100%;
                background-color: #fff;

            }
        }
    }

    .services {
        .my-services {
            .my-card {
                width: 47%;
            }
        }
    }
}

@media screen and (max-width:770px) {
    .my-navbar {
        .my-container {
            .my-brand {
                width: 50%;

                img {
                    width: 100%;
                }
            }
        }
    }

    .home {
        .my-home {
            flex-direction: column-reverse;
        }
    }

    .services {
        .my-services {
            .my-card {
                width: 90%;
                margin: 5px auto;
            }
        }
    }
}